
# ignore executables
webserv

# ignore build directory
_bld/

# ignore all .a files recursively
**/*.a

# ignore all .dylib files recursively
**/*.dylib

# ignore .dSYM debug files
webserv.dSYM/

# ignore all compile_commands.json files recursively
**/compile_commands.json

# ignore all .cache files recursively
**/.cache

# ignore all .DS_Store files recursively
**/.DS_Store

